@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BestShrift';
    src: url("./fonts/1585300001509-Manrope-Light.otf");
  }
  @font-face {
    font-family: 'BestShriftBolt';
    src: url("./fonts/1585300001509-Manrope-Regular.otf");
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'BestShrift'
  }
  
  body {
      position: relative;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
      line-height: 1.4;
      color: #000;
      min-width: 320px;
      overflow-x: hidden;
      height: auto;
  }
